*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
   background-color: #212738;
   color: beige;
    height: 5rem;
    line-height: 5rem;
}
body{
    background-color: #57C4E5;
}
.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.choice:hover {
    cursor: pointer;
    background-color: #081b31;
}
  
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#scores{
    display: flex;
    justify-content: center;
}
.score{
    color: #212738;
    height: 90px;
    width: 350px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }